
	/*버튼 */
	.btn_style3 {	
	 	font-size:10pt;
	 	font-weight:700;
	 	width:100px;
	 	padding:8px 0;
	 	background:tomato;
	 	color:white;
	 	border:1px solid white;
	 	outline:1px double red;
	 	margin-right:10px;
	 	border-radius:5px;
	}
	